/Pictures/*
/logs/*
/*.pyc
main.spec
/AKIHA_for_web/__pycache__/*
/AKIHA_for_web/secrets.py
/sorter/__pycache__/*
/sorter/migrations/__pycache__/*

/sorter/static/Pictures/*.jpg
/sorter/static/Pictures/*.png
/sorter/static/Pictures/*.gif
/sorter/static/Pictures/desktop.ini

/AKIHA_for_web/static/Pictures/*.jpg
/AKIHA_for_web/static/Pictures/*.png
/AKIHA_for_web/static/Pictures/*.gif
/AKIHA_for_web/static/Pictures/desktop.ini
.settings/*
