/webapp/Pictures/*
/webapp/logs/*
/webapp/*.pyc
/webapp/AKIHA_for_web/__pycache__/*
/webapp/AKIHA_for_web/secrets.py
/webapp/sorter/__pycache__/*
/webapp/sorter/migrations/__pycache__/*

/webapp/sorter/static/Pictures/*
!/webapp/sorter/static/Pictures/.gitkeep


/webapp/AKIHA_for_web/static/Pictures/*
!/webapp/AKIHA_for_web/static/Pictures/.gitkeep
/webapp/.settings/*
/standalone/akiha.exe.spec
/standalone/__pycache__/*
*.log
