<html>
	<head>
	<meta charset="UTF-8">
	<title>AKIHA for Web</title>
	{%load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'akiha.css' %}" />
	</head>

	<body>
		<div class="base_flexbox">
			<div class="navbar">
				<div class="navdiv">
					<p class="AKIHA_title"><a href="/" class="navbar_href">AKIHA for web</a></p>
				</div>
				<div class="navdiv">
				</div>
				<div class="navdiv">
				</div>
				<div class="navdiv">
				</div>
				<div class="navdiv">
					<p class="navchar"><a href="/admin/" class="navbar_href">admin</a></p>
				</div>
			</div>
			<div class="explain">
				<h3 style="font: 24pt 'Yu Gothic';margin: 0;">Contents:</h3>
				<ul>
					<li><p><a href="/sorter/">AKIHA</a></p></li>
				</ul>
			</div>


		</div>
	</body>
	
</html>

