			body{
				background-color:white;
				padding:0;
				font: 100% "Gputeks"
			}
			.navbar{
				height: 40pt;
				background-color: black;
				display: flex;
				flex-direction: row;
	    		justify-content: center;/* 3 */
	    		align-items: center;  
			}
			.navdiv{
				padding: 0;
				width: 30%;
			}
			.navchar{
				color: white;
				font: 18pt "Yu Gothic"; 
				margin: 0;
				padding: 0;
			}
			.navbar_href{
				text-decoration: none;
				color: white;
			}
			.AKIHA_title{
				font: 18pt "Gputeks";
				color: white;
				margin: 0;
				padding: 0;
			}
			h2.title_h2{
				text-align:center;
				font: 32pt "Verdana";
			}

			.ol_class{
				width: 50%;
			}